body {
    background-color: rgb(7, 7, 7);
    background-image: linear-gradient(black,rgb(61, 42, 61));
    color: rgb(196, 182, 240);    
    font-family: 'Courier New', Courier, monospace;
}
img {
    margin-left: 50%;
    margin-right: 50%;
}

h1 {
    font-size: 70px;
    font-weight: 400;
    color: rgb(122, 71, 149);    
    text-align: center;

}

h2 {
    font-size: 40px;
    font-weight: 400;
    color: rgba(210, 141, 122, 0.926);
    text-align: center;
    
}

p {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.experience {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

#Skills {
  font-size: 30px;  
  font-weight: 300;
  text-align: center;
}

.connect {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
   
}

.messageForm {
   
    font-size: 30px;
    font-weight: 300;
    margin-top: 2cm;
    text-align: center;
}

button {
    color: rgba(83, 5, 5, 0.926);
    background-color: rgb(132, 169, 201);
    border-width: 1mm;
    padding-top: 1mm;
    font-size: medium;
}


footer {
    
    text-align: center;
    color: rgb(252, 250, 249);
    border-style: inset;
    border-color: coral;
    text-shadow: 1px 2px rgba(210, 141, 122, 0.926);
}

ul{
    list-style: none;
}

a:visited {
    color: rgb(122, 71, 149);
}

a:hover {
    color: rgba(210, 141, 122, 0.926)
}


